/* #090a0b, #f6f5f4, #f943ff, #4a35d4 */

body {
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #090a0b;
    color: #f6f5f4;
    font-family: source-code-pro, monospace;
    /*font-family: soleil, sans-serif;*/
    overflow: hidden;
    cursor: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes reverse-spin {
    0% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
}
@keyframes scale-pulse {
    0% { -webkit-transform:scale(1); transform:scale(1); } 
    50% { -webkit-transform:scale(1.5); transform:scale(1.5); }
    100% { -webkit-transform:scale(1); transform:scale(1); } 
}

@media only screen and (max-width: 1120px) {
    #footerSlogan {
        display: none;
    }
}

@media only screen and (max-width: 570px) {
    .footerIcon {
        display: none;
    }
}

/* for bigger screens */
@media only screen and (min-width: 450px) {
    .mobile {
        display: none;
    }

    #logoMain {
        height: 80px;
        transform: translateX(15px);
    }

    #footerList {
        padding: 0%;
        padding-right: 8%;
    }

    #cursorCont {
        display: flex;
    }

    #homeCatchphrase {
        top: 5vh;
        right: 2.5vw;
        margin: 2%;
    }
}

/* for mobile*/
@media only screen and (max-width: 450px) {
    .mobile {
        display: block;
    }

    #logoMain {
        height: 50px;
        transform: translate(10px, -40px);
    }

    #headerLogo {
        display: none;
    }

    #signUp {
        margin: 0;
        display: none;
    }
    
    #cursorCont {
        display: none;
    }

    #magLink {
        display: none;
    }
    
    #bgRing {
        display: none;
    }

    #footerList {
        padding: 0%;
        padding-right: 6%;
        display: flex;
        justify-content: center;
    }

    #infoText {
        display: none;
    }

    #homeCatchphrase {
        margin: 5%;
        top: 0%;
        right: 0;
    }
}

.hoverable:hover {
    cursor:none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

#headerLogo {
    width: 120px;
}

#headerLogoCont {
    position: absolute;
    left: 4vw;
    top: 8vh;
    background-color: #090a0b;
}

#mobileSignUp {
    margin: 5%;
}

#bg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bgRing {
    width: 95%;
    height: 90%;
    border: 2px solid #f6f5f4;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoText {
    position: absolute;
    font-size: 10px;
    font-weight: 100;
    transform: translateY(80px);
}

#mobileEnterButton {
    position: absolute;
    transform: translateY(40px);
    color: #f6f5f4;
    font-size: 16px;
    background-color: #090a0b;
    padding: 10px 15px 10px 15px;
    border: 2px solid #f6f5f4;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

#mobileEnterButton:hover {
    background-color: #f6f5f4;
    color: #090a0b;
}

#homeCatchphrase {
    position: absolute;
    text-align: right;
    padding: 0;
    font-size: 12px;
    font-weight: 100;
    width: 200px;
}

footer {
    position: fixed;
    height: 10vh;
    bottom: 0%;
    width: 100vw;
    padding-left: 5vw;
    display: flex;
    align-items: center;
}

.footerIcon {
    height: 15px;
    margin: 1%;
    padding: 10px;
    background-color: #090a0b;
}

#footerSlogan {
    margin: 2%;
    float: left;
    font-size: 12px;
    font-weight: 400;
    color: #f6f5f4;
    padding: 15px;
    background-color: #090a0b;
}

#footerList {
    position: absolute;
    width: 100%;
    right: 0%;
    margin: 0;
}

.footerItem {
    float: right;
    list-style: none;
    margin: 3%;
}

.footerText {
    font-size: 12px;
    font-weight: 100;
    color: #f6f5f4;
    background-color: #090a0b;
    padding: 10px 15px 10px 15px;
    transition: text-decoration 0.5s, color 0.5s;
    width: fit-content;
}

.footerText:hover {
    text-decoration: underline;
}

.footerCTA {
    font-weight: 400;
    text-decoration: none;
    box-shadow: 0 0 0 #f6f5f4;
    border: 2px solid #f6f5f4;
    transition: border 0.5s, color 0.5s, background-color 0.5s;
}

.footerCTA:hover {
   background-color: #f6f5f4;
   color: #090a0b;
}

#cursorCont {
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    transition: opacity 0.5s;
}

#magLink {
    position: absolute;
    width: 1px;
    height: 1px;
}

#magLink:hover {
    cursor: none;
}

#cursorMain {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #f6f5f4;
    animation:spin 6s linear infinite;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

#cursorIconCont {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursorIcon {
    width: 15px;
    opacity: 100%;
    transition: width 0.5s;
    position: absolute;
}

#cursorRing {
    position: absolute;
    width: 45px;
    height: 45px;
    border: 2px solid #f6f5f4;
    animation:reverse-spin 8s linear infinite;
    transition: width 0.5s, height 0.5s, border 0.5s;
}

#cursorRing2 {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #f6f5f4;
    opacity: 0%;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
    transition: width 0.5s, height 0.5s, opacity 0.5s, animation 0.5s;
}
