/* #090a0b, #f6f5f4, #ec0927, #ff990a, #4a35d4 */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #090a0b;
    font-family: soleil, sans-serif;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#mainPages {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(100%,1fr);
    scroll-snap-type: x mandatory;
}

.pageContainer {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.page {
    overflow: hidden;
}

.pageLeft {
    height: 100%;
    width: 50%;
    left: 0;
    float: left;
    background-color: #f6f5f4;
}

.pageRight {
    height: 100%;
    width: 50%;
    float: left;
    background-color: #090a0b;
}

.bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.magPageHeader {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    opacity: 100%;
    /*background: linear-gradient(180deg, rgba(9, 10, 11, 0.65) 0%, rgba(9,10,11,0) 100%);*/
}

.headerButton {
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 40px;
    width: 40px;
    border: none;
    padding: 0;
    background-color: transparent;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #f6f5f4;
    opacity: 50%;
    transition: opacity 0.5s;
}

.headerIcon {
    width: 20px;
}

.headerButton:hover {
    opacity: 100%;
    cursor: pointer;
}

#coverImgCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#coverImg {
    margin-top: 5%;
    width: 70%;
}

#closeIndexDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 10, 11, 0.4);
    display: none;
}

#pageIndex {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    background-color: #090a0b;
    color: #f6f5f4;
    box-shadow: 0 0 0px 0 #090a0b;
    transform: translateX(-30vw);
    transition: transform 0.5s, box-shadow 0.5s;
    overflow: hidden;
}

#pageIndex header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 12%;
    padding: 0;
    display: flex;
    align-items: center;
}

#pageIndex header h1 {
    margin: 0;
    padding: 10%;
}

.indexButton {
    width: 20px;
    position: absolute;
    padding: 10px;
    margin: 6%;
}

.indexButton:hover {
    cursor: pointer;
}

#closeIcon {
    margin: 10%;
    right: 0;
}

#indexPageList {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 100px;
    width: 100%;
}

.indexItem {
    list-style: none;
    font-size: 20px;
    padding: 8% 10% 8% 10%;
    width: 80%;
}

.indexItem:hover {
    background-color: #f6f5f4;
    color: #090a0b;
    cursor: pointer;
}

.indexItemNum {
    float: left;
    font-size: 20px;
    font-weight: 600;
}

.indexItemTitle {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 200;
}

#indexFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}
